body {
  background-color: white;
  font: 14px sans-serif;
  background-image: url('https://images.unsplash.com/photo-1596787071320-c06155930dae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.overall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.wrapper { 
  width: 360px; 
  padding: 20px; 
}